#prefs {
    border-width:0 0 1px 1px;
    border-color:#ccc;
    border-style:solid;
    padding:10px;
    position:fixed;
    top:0;
    right:0;
    width:300px;
    background-color:#f3f3f3;
}

/** Style comments **/


.git_style .bz_comment {
    -moz-border-radius:2px 2px 2px 2px;
    background-color:#EEEEEE;
    border:1px solid #CCCCCC;
    padding:3px;
    margin-left:15px;
    margin-bottom:1em;
}

.git_style .bz_first_comment,
.git_style .no-first-comment .bz_comment {
    margin-left:0;
}

.git_style .bz_first_comment_head,
.git_style .bz_comment_head {
    border:1px solid #CCCCCC;
    font-size:11px;
    overflow:auto;
    padding:5px;
    background: -moz-linear-gradient(
        center top,
        rgb(241,247,248) 28%,
        rgb(221,233,236) 64%
        ) repeat scroll 0% 0% transparent;

}

.git_style .bz_first_comment_head {

    background: -moz-linear-gradient(
        center top,
        #E6F4EC 28%,
        #D8E6DE 64%
        ) repeat scroll 0% 0% transparent;
}

.git_style .bz_comment_actions, .git_style .bz_comment_number {
    color:#999;
    padding-top:7px;
}

.git_style .bz_comment_actions a, .git_style .bz_comment_number a {
    color:#666;
    text-decoration:none;
}

.git_style .bz_comment_actions a:hover, .git_style .bz_comment_number a:hover {
    color:#444;
    text-decoration:underline;
}

.git_style .bz_comment_text {
    background-color:#FFFFFF;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    margin:0;
    padding:10px;
    width:655px;
}

.git_style .bz_first_comment .bz_comment_text,
.git_style .no-first-comment .bz_comment_text {
    width:670px;
}

.git_style .bz_comment_user {
    display: inline-block; padding-top: 7px;

}

.git_style .bz_comment_user a.email {
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

.git_style .bz_comment_time {
    color:#999;
}

/** Gravatar **/


.git_style .bz_comment_head img, .git_style .bz_first_comment_head img {
    background-color:#FFFFFF;
    border:1px solid #BBBBBB;
    padding:2px;
}


.bz_comment_head img, .bz_first_comment_head img {
    width:25px;
}

.git_style .bz_comment_head img, .git_style .bz_first_comment_head img {
    float:left;
}

/** Image gallery **/

.img-gal{
    overflow:auto;
    width:100%;
}

.git_style .img-gal{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    overflow:auto;
    padding:20px 0 0 20px;
    background-color:#F1F7F8;
    width:655px;
}

.git_style .bz_first_comment .img-gal {
    background-color:#F3FAF6;
    width:670px;
}

.img-gal img {
    width:104px;
    height:104px;
    float: left;
    margin:0 20px 20px 0;
    border:1px solid #ddd;
    padding:4px;
    background-color:#fff;
}


/* Changes */

.git_style .changes {
    color:#555555;
    margin-left:20px;
    padding-top:10px;
}

.git_style .changes th {
    border-bottom:1px solid #DDDDDD;
    color:#666666;
    padding:0 30px 0 10px;
    font-size:11px;
    text-align:left;
}

.git_style .changes td {
    font-size:11px;
    padding:0 30px 0 10px;
}

.history {
    background-color:#F3F3F3;
    border-bottom:1px solid #DDDDDD;
    border-top:2px solid #DDDDDD;
    font-size:12px;
    margin-bottom:10px;
    padding:5px;
}

.bz_comment .history {
    border:none;
    color:#888;
    background-color:#fff;
    margin-bottom:0;
    padding:0 0 10px;
}

.git_style .history {
    -moz-border-radius:3px 3px 3px 3px;
    background-color:#EEEEEE;
    border:1px solid #DDDDDD;
    color:#555555;
    font-size:10px;
    margin:0 0 1em 15px;
    padding:5px 10px;
    width:663px;
    font-family:verdana;
}

.git_style .bz_comment .history {
    padding:0 0 10px 0;
    color:#888;
    border:none;
    background-color:#fff;
    margin:0;
}

.git_style #attachment_table {
    width:700px;
}



/** Git stuff **/

.git_style .git-body {
background-color:#F9F9F9;
border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
padding:10px;
width:655px;
}

.git-head {
background-color:#EAF2F5;
border:1px solid #BEDCE7;
padding:10px;
}

.git-head p {
	margin-top:0;
}

.git-head span {
	font-size:11px;
	color:#888;
}

.git-head span strong {
	color:#666;
}

.git tr {
	border-top:1px solid #ddd;
}
.git {
background-color:#FFFFFF;
border-bottom:1px solid #DDDDDD;
border-collapse:collapse;
margin:10px 0 0;
width:100%;
}

.git .changes_box {
position:relative;
}

.git td .changes_box div {
    display:none;
}

.git td:hover .changes_box div {
-webkit-border-radius:4px;
-moz-border-radius:4px;
background-color:black;
color:#FFFFFF;
font-size:10px;
left:-165px;
opacity:0.8;
padding:2px 3px;
position:absolute;
text-align:center;
top:0;
width:150px;
display:block;
}

.git .changes_box strong {
color:#444444;
display:block;
float:left;
padding-right:5px;
padding-top:1px;
text-align:right;
width:25px;

}

.git td.changes_td {
width:80px;
}

.git td {
	padding:5px;
font-size:11px;
}


.git td.add .stat-icon {
background-position:0 0;
}

.git td.modify .stat-icon {
background-position:0px -50px;
}

.git td.remove .stat-icon {
background-position:0px -100px;
}

.git td .stat-icon {
background:url("http://github.com/images/modules/commit/file_modes.png") no-repeat scroll 0 0 transparent;
display:block;
height:19px;
text-indent:-9999px;
width:20px;
}

.gb, .ga, .gd {
-moz-border-radius:2px 2px 2px 2px;
background-color:#DDD;
float:left;
height:8px;
margin-right:2px;
margin-top:5px;
width:8px;
}

.ga {
	background-color:#61C423
}
.gd {
	background-color:#C52323
}


/* Lightbox */

.lb {
height:100%;
text-align:center;
vertical-align:middle;
width:100%;

}

.lb img {
background-color:#FFFFFF;
border:1px solid #555555;
margin:20px;
max-height:90%;
max-width:90%;
padding:5px;

}

.overlay {
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
height:100%;
left:0;
position:fixed;
text-align:center;
top:0;
width:100%;
}

.opts {
-moz-border-radius-bottomright:6px;
background-color:#000000;
color:#AAA;
font-weight:bold;
left:0;
padding:9px;
position:fixed;
top:0;

}

.opts a {
text-decoration:none;
color:#fff;
}
